body
{
    background-color: black;
}
#header,
.nav-bar .navbar .navbar-brand
{
    font-size: 20px;
    font-family: sans-serif;
}
.nav-bar .navbar .collapse .navbar-nav .nav-item
{
    font-size: 15px;
    font-family: sans-serif;
}
#intro,
.col-md-6 h1
{
    padding-top: 80px;
    color: orange;
    font-size: 100px;
}
.col-md-6 p
{
    font-size: 20px;
    color: gray;
}
.intro-img
{
    height: 800px;
    padding-bottom: 50px;
}
#about,
.about
{
    background-color: #f3f3f3;
}
.banner-img
{
    padding: 50px 10px;
    height: 600px;
    width: 100%;
}
.container h3
{
    font-size: 20px;
    padding-top: 50px;
    color: gray;
}
.container p
{
    font-size: 15px;
    padding: 20px 100px 100px;
}
#experience,
.experience
{
    /*background-color: #eeffaa;*/
}
.container h1
{
    color: orange;
}
.container h2
{
    color: gray;
    font-size: 15px;
}
#education,
.education
{
    background-color: #f3f3f3;
}
.container h1
{
    color: orange;
    padding-top: 50px;
}
.container h2
{
    color: gray;
    font-size: 15px;
}
#skills,
.container h1
{
    color: orange;
}
.container h2
{
    color: gray;
    font-size: 15px;
}
.container p
{
    color: black;
}
#quote,
.quote
{
    overflow: hidden;
}
.quote-div
{
    float: left;
}
.quote-text
{
    float: left;
}
.quote-img
{
    height: 400px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.quote-text h1
{
    font-size: 20px;
    padding-left: 60px;
    padding-top: 140px;
}
.quote-text h3
{
    font-size: 15px;
    padding-left: 60px;
    padding-top: 20px;
    color: gray;
    font-weight: lighter;
}
#contact,
.contact
{
    padding-top: 50px;
}
.contact-details h1
{
    padding-top: 50px;
    padding-bottom: 100px;
}
.contact-details p
{
    color: gray;
    text-align: center;
    padding-right: 700px;
}
.gray-block 
{
    background-color: #f3f3f3;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}
.footer
{
    padding-top: 100px;
}