@import url(https://fonts.googleapis.com/css?family=Raleway);

body
{
    background-color: black;
    margin: 0;
    padding: 0;
}
#header,
.nav-bar
{
    padding-top: 15px;
}
.navbar-brand
{
    font-size: 100%;
    padding-left: 70px;
    font-weight: lighter;
    color: grey;
    font-family: sans-serif;
}
.nav-link
{
    font-size: 15px;
    color: grey;
}
#intro,
.intro-container
{
    overflow: hidden;
}
.col-md-6
{
    float: left;
}
.col-md-6 h1
{
    padding-top: 200px;
    padding-left: 150px;
    color: #FF8B35;
    font-size: 100px;
    font-weight: lighter;
}
.col-md-6 p
{
    font-size: 25px;
    padding-left: 150px;
    padding-top: 40px;
    color: gray;
}
.intro-img-container
{
    float: left;
}
.intro-img
{
    max-height: 1000px;
    padding-left: 50px;
    padding-top: 50px;
}
#about,
.about
{
    background-color: #f3f3f3;
}
.banner-img
{
    /*padding: top right bottom left*/
    /*padding: top right bottom*/
    /*padding: top_and_bottom right_and_left*/
    /*padding: top_and_bottom_right_and_left*/
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 700px;
    width: 100%;
}
#about-container h3
{
    font-family: "Century Gothic", serif;
    font-size: 20px;
    padding-top: 50px;
    color: gray;
    font-weight: lighter;
}
#about-container p
{
    font-size: 15px;
    color: #535353;
    padding: 20px 100px 100px;
    font-weight: normal;
}
#experience,
.experience
{
    /*background-color: #eeffaa;*/
}
#experience-container h1
{
    color: #FF8B35;
}
#experience-container h2
{
    color: gray;
    font-size: 15px;
}
#education,
.education
{
    background-color: #f3f3f3;
}
#education-container h1
{
    color: #FF8B35;
    padding-top: 50px;
}
#education-container h2
{
    color: gray;
    font-size: 15px;
    padding-bottom: 50px;
}
.education-items
{
    width: 100%;
    overflow: hidden;
}
.education-item
{
    display: block;
    height: min-content;
    width: 45%;
    background-color: #0E1F58;
    margin-left: 50px;
    margin-bottom: 50px;
    float: left;
}
.education-item h3
{
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    font-weight: lighter;
    font-size: 20px;
}
.education-item h4
{
    color: white;
    padding-left: 50px;
    padding-top: 10px;
}
.education-item p
{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
#skills,
#skills-container h1
{
    color: #FF8B35;
    padding-top: 30px;
}
#skills-container h2
{
    color: gray;
    font-size: 15px;
}
#skills-container p
{
    color: black;
    padding-bottom: 50px;
}
.skills-images
{
    padding-bottom: 100px;
    padding-top: 50px;
    overflow: hidden;
}
.skills-image
{
    width: 350px;
    background-color: #f3f3f3;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.skills-image h1
{
    padding-top: 50px;
    padding-left: 33.3%;
    font-weight: lighter;
}
.skills-image h2
{
    padding-left: 35%;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: lighter;
}
.the-image
{
    height: 400px;
    width: 350px;
}
#quote,
.quote
{
    overflow: hidden;
}
.quote-div
{
    float: left;
}
.quote-text
{
    float: left;
}
.quote-img
{
    height: 500px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.quote-text h1
{
    font-size: 20px;
    padding-left: 60px;
    padding-top: 140px;
}
.quote-text h3
{
    font-size: 20px;
    padding-left: 60px;
    padding-top: 20px;
    color: gray;
    font-weight: lighter;
}
#contact,
.contact
{
    padding-top: 50px;
}
.gray-block
{
    background-color: #f3f3f3;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    overflow: hidden;
}
.contact-details
{
    float: left;
}
.contact-details h1
{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 90px;
    color: #FF8B35;
}
.contact-details p
{
    color: gray;
    text-align: center;
    padding-left: 50px;
    /*padding-right: 700px;*/
}
/* Contact Form*/
.contact-form {
    padding-left: 150px;
    padding-bottom: 100px;
    float: left;
}

.contact-form a, p {
    font-family: 'Raleway', sans-serif;
}

.cont-contactInfo {
    float: left;
    padding-right: 5%;
    width: 45%;
}
.cont-contactInfo h3 {
    font-size: 28px;
}
.cont-contactInfo h4 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}
.cont-contactInfo h4.section {
    margin: 30px 0 0;
}
.cont-contactInfo p {
    margin: 0;
}
.cont-contactInfo p > a {
    text-transform: uppercase;
    font-weight: bold;
}

.cont-contactBtn {
    height: 359px;
    margin: 0 auto;
    width: 574px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.cont-contactBtn .cont-flip {
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cont-contactBtn .cont-flip .front {
    background-color: #ff4d54;
}
.cont-contactBtn .cont-flip .back {
    background-color: #fff;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.cont-contactBtn .btn {
    margin-top: 155px;
}
.cont-contactBtn .cont-flip.flipped {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.cont-contactBtn .contact-form {
    padding: 0 10%;
    margin-top: 50px;
    width: 80%;
}
.cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
    border: 1px solid #808080;
    font-size: 12px;
    padding: 10px 0;
    text-transform: uppercase;
}
.cont-contactBtn .contact-form input[type="text"] {
    float: left;
    margin-bottom: 8px;
    padding-left: 3%;
    width: 46.7%;
}
.cont-contactBtn .contact-form .gutter {
    margin-right: 2.8%;
}
.cont-contactBtn .contact-form textarea {
    height: 106px;
    padding-left: 3%;
    margin-bottom: 22px;
    width: 96.2%;
}
.cont-contactBtn .contact-form input[type="submit"] {
    background-color: #ff4d54;
    border: none;
    color: #fff;
    height: 45px;
    width: 100%;
    max-width: 93px;
    text-align: center;
}
.cont-contactBtn .close {
    display: block;
    height: 19px;
    width: 19px;
    background-image: url("https://i.imgur.com/WoKg12q.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 15px;
    right: 3%;
}
.cont-contactBtn .btn {
    border: 3px #fff solid;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin-left: 25%;
    max-width: 280px;
    padding: 15px 0;
    text-transform: uppercase;
    width: 100%;
}
.cont-contactBtn .btn:hover
{
    color: white;
}
.footer
{
    padding-top: 100px;
}
.social-icons
{
    margin-top: -20px;
}
.social-icons a
{
    color: black;
    font-size: 30px;
    padding-left: 30px;
}